{% load static %}


<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">


	<!-- Title -->
	<title>Real-time Attentiveness Detection</title>

	<!-- Favicon -->
	<link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">

	<!-- Icons -->
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">

	<!--Bootstrap.min css-->
	<link rel="stylesheet" href="{%  static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

	<!-- Adon CSS -->
	<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" type="text/css">

	<!-- Data table css -->
	<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />

	<link href="{% static 'assets/plugins/customscroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link href="{% static 'assets/plugins/toggle-sidebar/css/sidemenu.css' %}" rel="stylesheet">

	<!-- Sweet Alert JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>


    <script>
        $( document ).ready(function() {
            if(localStorage.getItem('startDate'))
            {
                start_timer();
            }
        });
    </script>
    <style>
        .scrollable-table
        {
            overflow: scroll;
            height: 250px;
        }
    </style>

</head>

<body class="app sidebar-mini rtl" >
	<div id="global-loader" ></div>
	<div class="page">
		<div class="page-main">
            {% include "sidebar.html" %}
            <div class="container-fluid pt-8">
                <form method="post" >
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card shadow">
                                <div class="card-header btn-primary">
                                    {% if isStarted == '' %}
                                    <h2 class="mb-0">Start Lecture</h2>
                                    {% else %}
                                    <h2 class="mb-0">Lecture is started...</h2>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    {% if isStarted != '' %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="chart-circle" id="circle_hrs" data-value="1" data-thickness="4" data-color="#fc0"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
                                                <div class="chart-circle-value"><div id="hrs" class="h2"></div><small>Hours</small></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-4 mt-sm-0">
                                            <div class="chart-circle" id="circle_min" data-value="1" data-thickness="4" data-color="#5797fc"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
                                                <div class="chart-circle-value"><div id="min" class="h2"></div> <small>Minutes</small></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 mt-4 mt-sm-0">
                                            <div class="chart-circle" id="circle_sec" data-value="1" data-thickness="4" data-color="#00d9bf"><canvas width="128" height="128"></canvas><canvas width="128" height="128"></canvas>
                                                <div class="chart-circle-value"><div id="sec" class="h2"></div> <small>Seconds</small></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p></p>
                                    </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {% if isStarted == '' %}
                                            <div class="form-group">
                                                <input type="text"   class="form-control"  name="lec_id" required placeholder="Lecture Id (Ex: LEC01)" >
                                            </div>
                                            <ul class="list-inline wizard mb-0">
                                                <li class="previous list-inline-item">
                                                    <input type="submit" name="start" value="Start" class="btn btn-primary mb-0 waves-effect waves-light">
                                                </li>
                                            </ul>
                                            {% else %}
                                            <ul class="list-inline wizard mb-0">
                                                <li class="previous list-inline-item">
                                                    <input type="submit" name="stop" onclick="del_date()" value="Stop" class="btn btn-primary mb-0 waves-effect waves-light">
                                                </li>
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if isStarted != '' %}

                        <div class="col-xl-6">
                            <div class="card shadow">
                                <div class="card-header table-primary border-0">
                                    <h2 class=" mb-0">Student Activities</h2>
                                </div>
                                <div class="grid-margin scrollable-table">
                                    <div class="table-responsive ">
                                        <table class="table card-table  table-vcenter text-nowrap  align-items-center">
                                            <thead class="thead">
                                            <tr>
                                                <th>Roll</th>
                                                <th>Name</th>
                                                <th>Activity</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1801001</td>
                                                <td class="text-sm font-weight-600">Jainam</td>
                                                <td>Attentiveness below 70%</td>
                                                <td class="text-nowrap">Sep 29, 2019</td>
                                            </tr>
                                            <tr>
                                                <td>1801002</td>
                                                <td class="text-sm font-weight-600">Mauricio</td>
                                                <td>Feeling sleepy</td>
                                                <td class="text-nowrap">Sep 29, 2019</td>
                                            </tr>
                                            <tr>
                                                <td>1801003</td>
                                                <td class="text-sm font-weight-600">Atharva</td>
                                                <td>Tab focus changed</td>
                                                <td class="text-nowrap">Sep 29, 2019</td>
                                            </tr>
                                            <tr>
                                                <td>1801004</td>
                                                <td class="text-sm font-weight-600">Yasin</td>
                                                <td>Attentiveness below 70%</td>
                                                <td class="text-nowrap">Sep 29, 2019</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </form>
            {% if isStarted != '' %}
            <div class="row">
                <div class="col-xl-6">
                    <div class="card shadow">
                        <div class="card-header btn-primary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Chart</h6>
                                    <h2 class="mb-0">Student-wise Attentiveness</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartStdAtt" class="chartsh demo-placeholder" style="height: 370px; width:100%;"></div>
                        </div>
                    </div>
                </div>

            {% endif %}
            {% if isStarted != '' %}

                <div class="col-xl-6">
                    <div class="card shadow">
                        <div class="card-header btn-primary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Chart</h6>
                                    <h2 class="mb-0">Average Attentiveness</h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="chartAvgAtt" class="chartsh demo-placeholder" style="height: 370px; width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            </div>
					</div>
				</div>
			</div>
		</div>
		<div id="particles-js" style="position: absolute; z-index: -1; top: 0%;height: 99%; width: 100%;"></div>
	</div>

	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>


	<!-- Core -->
	<script src="{% static 'assets/plugins/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/chart-circle/circle-progress.min.js' %}"></script>

    <!-- Optional JS -->
	<script src="{% static 'assets/plugins/chart.js/dist/Chart.min.js' %}"></script>
	<script src="{% static 'assets/plugins/chart.js/dist/Chart.extension.js' %}"></script>
	
    <!-- flot JS -->
    <!--
	<script src="{% static 'assets/plugins/chart-flot/jquery.flot.js'  %}"></script>
	<script src="{% static 'assets/plugins/chart-flot/jquery.flot.fillbetween.js' %}"></script>
	<script src="{% static 'assets/plugins/chart-flot/jquery.flot.pie.js' %}"></script>
	<script src="{% static 'assets/js/flot.js' %}"></script>
    -->

	<!-- Data tables -->
	<script src="{% static 'assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/responsive.bootstrap4.min.js' %}"></script>

	<!-- Fullside-menu Js-->
	<script src="{% static 'assets/plugins/toggle-sidebar/js/sidemenu.js' %}"></script>

	<!-- Custom scroll bar Js-->
	<script src="{% static 'assets/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>

	<!-- Adon JS -->
	<script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/datatable.js' %}"></script>
	<script src="{% static 'assets/plugins/particles/particles.js' %}"></script>
	<script src="{% static 'assets/plugins/particles/app-db.js' %}"></script>


    <!-- Push Notifications -->
	<script src="{% static 'assets/plugins/push/push.js' %}"></script>
	<script src="{% static 'assets/plugins/push/serviceWorker.min.js' %}"></script>



    <!--Lecture Timer-->
    <script>
        
        function del_date() {
            localStorage.removeItem("startDate");
        }

        function start_timer() {
            var countDownDate = localStorage.getItem('startDate');
            if (countDownDate) {
                countDownDate = new Date(countDownDate);
            } else {
                countDownDate = new Date();
                localStorage.setItem('startDate', countDownDate);
            }

            // Update the count down every 1 second
            var x = setInterval(function() {

                // Get todays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = now - countDownDate.getTime();

                // Time calculations for days, hours, minutes and seconds
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                //At particular Time like 15 mins or 30 mins, mark attendance of present students
                /*
                if(hours === 15)
                {
                    $.ajax(
                        {
                            type:"POST",
                            url:"/faculty/attendance",
                            success: function () {
                                swal("Done!","Attendance Marked","success");
                            }
                        }
                    )
                }
                */
                document.getElementById('hrs').innerHTML=''+hours+'';
                document.getElementById('min').innerHTML=''+minutes+'';
                document.getElementById('sec').innerHTML=''+seconds+'';
            }, 1000);
        }

    </script>

    <!-- SWAL -->
    <!-- <script>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                swal("Done", "{{ message }}", "success");
                if('{{ message }}' === 'Lecture is started..')
                {
                    start_timer();
                }
            {% endif %}
        {% endfor %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                swal("Error", "{{ message }}", "error");
            {% endif %}
        {% endfor %}
    </script> -->

    <!--Notifications Ajax-->
 <!--   <script>

        function getNotifications()
        {
            $.ajax(
            {
                type:"POST",
                url:"/faculty/notifications",
                success: function (data) {
                    for(var i=0;i<data.length;i++)
                    {
                        Push.create("New Activity", {
						    body: data[i]["Roll"]+" "+data[i]["Description"],
						    icon: "{% static 'assets/img/brand/logo-dark1.png' %}",
						    timeout: 1500,
						    onClick: function () {
						        window.focus();
						        window.location="/faculty/dashboard";
						    }
						});
                    }
                }
            })
        }
        setInterval(function () {
            getNotifications()
        },6000);

    </script> -->

    <!-- Canvas JS Live Chart -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="{% static 'assets/js/AttChart.js' %}"></script>







</body>


</html>
