{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

	<!-- Optional JS -->
	<!-- <script src="assets/plugins/chart.js/dist/Chart.min.js"></script>
	<script src="assets/plugins/chart.js/dist/Chart.extension.js"></script>
    <script src="assets/js/chartjs.js"></script> -->
    
	<!-- Title -->
	<title>Real-time Attentiveness Detection</title>

	<!-- Favicon -->
	<link href="{% static 'assets/img/brand/favicon.png' %}" rel="icon" type="image/png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800" rel="stylesheet">

	<!-- Icons -->
	<link href="{% static 'assets/css/icons.css' %}" rel="stylesheet">

	<!--Bootstrap.min css-->
	<link rel="stylesheet" href="{%  static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

	<!-- Adon CSS -->
	<link href="{% static 'assets/css/dashboard.css' %}" rel="stylesheet" type="text/css">

	<!-- Data table css -->
	<link href="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/datatable/responsivebootstrap4.min.css' %}" rel="stylesheet" />

	<link href="{% static 'assets/plugins/customscroll/jquery.mCustomScrollbar.css' %}" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link href="{% static 'assets/plugins/toggle-sidebar/css/sidemenu.css' %}" rel="stylesheet">
	<!-- Sweet Alert JS -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body class="app sidebar-mini rtl" >
	<div id="global-loader" ></div>
	<div class="page">
		<div class="page-main">
			<!-- Include Sidebar here -->
            {% include "sidebar.html" %}
						<!-- Page content -->
						<div class="container-fluid pt-8">
							<!-- Rows comes here -->
                            <div class="row">
                                <div class="col-xl-6">
                    <div class="card shadow">
                        <div class="card-header btn-primary">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="text-uppercase text-muted ls-1 mb-1">Chart</h6>
                                    <h2 class="mb-0">Average Attentiveness of Students</h2>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                        </div>
                    </div>
                </div>

		<div class="col-xl-6">
		    <div class="card shadow">
			<div class="card-header bg-transparent">
				<div class="row align-items-center">
					<div class="col">
						<h6 class="text-uppercase text-muted ls-1 mb-1">Chart</h6>
						<h2 class="mb-0">Sales-chart</h2>
					</div>
				</div>		
			</div>
			<div class="card-body">
				<canvas id="sales-chart" class="chartjs-render-monitor h-300"></canvas>
			</div>
								</div>
								</div>
                            </div>

					</div>
				</div>
			</div>
		</div>
		<div id="particles-js" style="position: absolute; z-index: -1; top: 0%;height: 99%; width: 100%;"></div>
	</div>

	<!-- Back to top -->
	<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>


	<!-- Core -->
	<script src="{% static 'assets/plugins/jquery/dist/jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>



	<!-- Data tables -->
	<script src="{% static 'assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/plugins/datatable/responsive.bootstrap4.min.js' %}"></script>

	<!-- Fullside-menu Js-->
	<script src="{% static 'assets/plugins/toggle-sidebar/js/sidemenu.js' %}"></script>

	<!-- Custom scroll bar Js-->
	<script src="{% static 'assets/plugins/customscroll/jquery.mCustomScrollbar.concat.min.js' %}"></script>

	<!-- Adon JS -->
	<script src="{% static 'assets/js/custom.js' %}"></script>
	<script src="{% static 'assets/js/datatable.js' %}"></script>
	<script src="{% static 'assets/plugins/particles/particles.js' %}"></script>
	<script src="{% static 'assets/plugins/particles/app-db.js' %}"></script>


	<script src="{% static 'assets/plugins/push/push.js' %}"></script>
	<script src="{% static 'assets/plugins/push/serviceWorker.min.js' %}"></script>

    <!-- Canvas JS Live Chart -->
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
    window.onload = function() {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            axisY: {
                title: "Attentiveness (%)",
                suffix: " %",
                maximum: 100,
                stripLines: [{
                    value: 70,
                    label: ""
                }]
            },
            axisX:{
                minimum: 0.5,
                maximum: 4.5,
            },
            data: [{
                type: "column",
                dataPoints: [
                    { x: 1, y: 81 },
                    { x: 2, y: 65 },
                    { x: 3, y: 80 },
                    { x: 4, y: 92 }
                ]
            }]
        });
        chart.render();

        var xSnapDistance = chart.axisX[0].convertPixelToValue(chart.get("dataPointWidth")) / 2;
        var ySnapDistance = 3;

        var xValue, yValue;

        var mouseDown = false;
        var selected = null;
        var changeCursor = false;

        var timerId = null;

        function getPosition(e) {
            var parentOffset = $("#chartContainer > .canvasjs-chart-container").offset();
            var relX = e.pageX - parentOffset.left;
            var relY = e.pageY - parentOffset.top;
            xValue = Math.round(chart.axisX[0].convertPixelToValue(relX));
            yValue = Math.round(chart.axisY[0].convertPixelToValue(relY));
        }

        function searchDataPoint() {
            var dps = chart.data[0].dataPoints;
            for(var i = 0; i < dps.length; i++ ) {
                if( (xValue >= dps[i].x - xSnapDistance && xValue <= dps[i].x + xSnapDistance) && (yValue >= dps[i].y - ySnapDistance && yValue <= dps[i].y + ySnapDistance) )
                {
                    if(mouseDown) {
                        selected = i;
                        break;
                    } else {
                        changeCursor = true;
                        break;
                    }
                } else {
                    selected = null;
                    changeCursor = false;
                }
            }
        }

        jQuery("#chartContainer > .canvasjs-chart-container").on({
            mousedown: function(e) {
                mouseDown = true;
                getPosition(e);
                searchDataPoint();
            },
            mousemove: function(e) {
                getPosition(e);
                if(mouseDown) {
                    clearTimeout(timerId);
                    timerId = setTimeout(function(){
                        if(selected != null) {
                            chart.data[0].dataPoints[selected].y = yValue;
                            chart.render();
                        }
                    }, 0);
                }
                else {
                    searchDataPoint();
                    if(changeCursor) {
                        chart.data[0].set("cursor", "n-resize");
                    } else {
                        chart.data[0].set("cursor", "default");
                    }
                }
            },
            mouseup: function(e) {
                if(selected != null) {
                    chart.data[0].dataPoints[selected].y = yValue;
                    chart.render();
                    mouseDown = false;
                }
            }
        });

    }
</script>



</body>


</html>
